/*basic styles*/

html {
    font-family: sans-serif;
}

.positioningContext {
    position: relative;
}


/* Layout components */

.flex_row {
    display: flex;
    flex-wrap: wrap;
}

.row1 {
    width: 745px;
    margin: auto;
    justify-content: center;
}

.row1>p {
    height: 100% !important;
}

.layout-section {
    background-color: whitesmoke;
    border: 2px outset;
    flex: auto;
    position: relative;
}

.layout-section div {
    text-align: center;
}

.layout-section h2 {
    text-align: center;
    margin: 3px;
    background-color: #0076B6;
    color: white;
    padding: 5px;
}

.layout-section header {
    background-color: #0076B6;
    text-align: center;
}

.layout-section header>h2 {
    display: inline-block;
    margin: 0 -33px 0 100px;
}

#pressure-output,
#volume-input-box {
    font-size: 12pt;
    width: 100px;
    padding: 6px;
    margin: 10px auto 0px auto;
    color: limegreen;
    background-color: black;
    border: 1px inset;
    display: block;
    text-align: center;
}

.svg-container {
    margin: 15px auto;
}

#dataplot {
    margin-bottom: 20px;
}

p,
h2,
text {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


/*graph styles*/

#graph {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 15vw;
    min-width: 500px;
    max-height: 646px;
}

#graph>h2 {
    width: 100%;
}

svg {
    font-size: 12pt;
}

svg g.graph>circle {
    opacity: 1;
    fill: darkblue;
    stroke: darkblue;
}

#x-axis-label {
    width: 100%;
    text-align: center;
    margin: -20px auto 30px 360px;
}

#y-axis-label {
    margin-top: 60px;
    margin-right: -20px;
    height: 20px;
    transform: rotate(-90deg);
}


/* Sliders */

.volume-slider {
    transform: rotate(180deg);
    transform-origin: center;
    margin: auto auto auto 85px;
    width: 150px;
    position: relative;
    top: 35px;
}

.hidden {
    display: none;
}


/* Svg styles - consider moving inside svg tag */

#syringe_front {
    /* Make the front parts of the ball container (and other svgs) unclickable */
    pointer-events: none;
}

.positioner {
    display: inline-block;
    position: relative;
}

#main {
    min-width: 800px;
}

#main>p {
    width: 9%;
    position: absolute;
}


/* Table */

table {
    width: 95%;
    margin: 20px auto 20px;
    border-collapse: collapse;
}

thead tr {
    background-color: #eaeaea;
}

td,
th {
    border: 1px groove;
    width: 50%;
    padding: 4px;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

#download {
    float: right;
    margin-right: 13px;
}

button {
    font-size: 12pt;
    background-color: #0076B6;
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #003958;
    text-decoration: none;
    margin-bottom: 30px;
}

button:hover {
    cursor: pointer;
}

.disabled {
    background-color: gray;
}

@media screen and (max-width:800px) {
    .layout-section header {
        width: 745px;
    }
}

input[type=range]::-ms-tooltip {
    display: none;
}

input[type=range]::-ms-track {
    color: transparent;
}
