/* Layout components */

.flex_row {
    display: flex;
    flex-wrap: wrap;
}

.layout-section {
    background-color: whitesmoke;
    border: 2px outset;
    flex: 1 1 auto;
}

.layout-section-header {
    text-align: center;
    margin: 3px;
}

.output-single {
    width: 100px;
    padding: 3px;
    margin: 5px auto;
    text-align: center;
    color: limegreen;
    background-color: black;
    border: 1px inset;
}

#svg-container-air {
    padding: 15px;
    margin: auto;
}


/* Svg styles - consider moving inside svg tag */

#front {
    /* Make the front parts of the ball container unclickable */
    pointer-events: none;
}
